.main{
    background-color: rgba(255, 255, 255, 0.302);
    display: block;
    margin: 5em 15em;
    align-self: center;
}

.menu{
    background-color: rgba(255, 0, 0, 0.411);
}

.mainButtonsBottomDiv{
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
}