.main{
    display: block;
    margin: 5em 15em;
    align-self: center;
    cursor: default;
    padding: 0;
}

.menu{
    margin: 0;
}

.mainButtonsBottomDiv{
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    margin-top: 0.5em;
}

.ecsButtonDiv{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4.5em;
    justify-content: space-around;
}


.backButtonDiv{
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 7.8em;
    justify-content: space-around;
}