.main{
    background-color: rgba(255, 255, 255, 0.302);
    display: block;
    margin: 5em 15em;
    align-self: center;
    cursor: default;
}

.menu{
    background-color: rgba(255, 0, 0, 0.411);
}

.mainButtonsBottomDiv{
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
}

.ecsButtonDiv{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4.5em;
    justify-content: space-around;
}


.backButtonDiv{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 7.8em;
    justify-content: space-around;
}