$backgroundDark: rgba(0, 0, 0, 0.55);

$backgroundDarkest: rgba(0, 0, 0, 0.7);

$backgroundLighter: rgba(255, 255, 255, 0.055);

$yellowColor: #e19300;

$lightLetter: rgba(255, 255, 255, 0.508);

$darkerLetter: rgba(255, 255, 255, 0.35);

$disabledLightLetter: rgba(255, 255, 255, 0.2);
