@import "mixins";

.navbarMain{
    display: flex;
    width: 100%;
}

.navbar{
    background-color: $backgroundDark;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.navigateNavbarKey{
    color: $lightLetter;
    margin:  0.4em 0.5em;
    padding: 0em 0.5em;
    border: solid 1px $lightLetter;
    border-radius: 2px;
}

.navigateNavbarKeyPressed{
    margin:  0.4em 0.4em;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0em 0.5em;
    color: $yellowColor;
    border: solid 1px $yellowColor;

}

.navigationButtonDiv{
    background-color: $backgroundDarkest;
    align-items: center;
    display: flex;
}

.navbarOption{
    color: $disabledLightLetter;
    padding: 0em 1em;
    font-size: 1.5em;
    margin: 0em 0.6em;
    border-top: solid 3px transparent;
    border-bottom: solid 3px transparent;
}

.navbarOptionSelected{
    color: $lightLetter;
    padding: 0em 1em;
    font-size: 1.5em;
    border-top: solid 3px $yellowColor;
    border-bottom: solid 3px $yellowColor;
    margin: 0em 0.6em;
}

.selectableOption{
    cursor: pointer;
    color: $lightLetter;
}
