.navbar{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0em;

}

.navbarMain{
    background-color: blue;
    display: flex;
    padding: 0em 0.2em;
    justify-content: space-between;
}

.navigateNavbarKey{
    background-color: red;
    margin:  0.4em 0.4em;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0em 0.5em;
    border: solid 1px white;
}

.navbarOption{
    padding: 0.5em 2em;
    margin-left: 1em;
    margin-right: 1em;
    border: solid 1px black;
    background-color: rgba(0, 0, 0, 0.233);
}

.navbarOptionSelected{
    background-color: rgba(27, 167, 155, 0.5);
    padding: 0.5em 2em;
    margin-left: 1em;
    margin-right: 1em;
    border: solid 2px black;
}

.selectableOption{
    color: red;
    cursor: pointer;
}
