@import "mixins";

.quests{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.questList{
    width: 12em;
    background-color: $backgroundDark;
    list-style: none;
    color: $lightLetter;
}

.questListElement{
    cursor: pointer;
    margin: 0;
    &:hover{
        background-color: $backgroundMinimalDarker;
    }
}

.questNav{
    height: 21em;
    overflow: hidden;
    overflow-y: scroll;   
}

.questListElementSelected{
    cursor: pointer;
    background-color: $yellowColor;
    color: black;
    margin: 0;
    margin-right: 0.3em;
    display: flex;
    .questListElementText{
        padding-left: 0.5em;
        margin: 0;
        padding-top: 1px;
    }
    p{
        margin: 0;
        padding-left: 0.3em;
    }
    .circle{
        top: 2px;
        font-weight: bolder;
    }
}

.questListElementText{
    margin: 0.3em;
    padding-left: 1.5em;
}


.questDescription{
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    padding-left: 2em;
    margin: 0;
}

.questTitle{
    margin-bottom: 0.5em;
    display: flex;
}

.questLabel{
    background-color: $backgroundDark;
    margin-top: 0.5em;
    color: $yellowColor;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5em;
    margin-bottom: 0.3em;
}

.objectiveName{
    margin-left: 0.5em;
    color: white;
    font-size: 1.1em;
}

.completedStats{
    color: $yellowColor !important;
}

input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    margin-top: 2px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #3b371df8;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $yellowColor;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


.questLogLabel{
    background-color: $backgroundDark;
    color: white;
    display: flex;
    padding: 0em 0.5em;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.questType{
    color: $yellowColor;
}

.questLogDiv{
    padding-left: 0.5em;
}

.questLog{
    height: 14.94em;
    margin: 0;
    background-color: $backgroundDark;
}

.questLogDetails{
    color: $lightLetter;
    padding-right: 0.2em;
    padding-left: 1em;
}

.logDiv{
    height: 100%;
    display: inline-block;
}

.littleTextStat{
    font-size: 0.6em;
}

.whiteStat{
    color: white;
}

.questStats{
    background-color: $backgroundDarkest;
    color: $darkerLetter;
    display: flex;
    justify-content: space-around;
}

.objectiveTracker{
    padding-top: 1em;
    font-size: 0.85em;
    color: $yellowColor;
    padding-left: 1.5em;
    margin: 0;
}

.darkStat{
    color: $darkerLetter;
}

#rewards{
    font-size: 0.6em;
    margin-top: 0;
}


// Scrollbar

::-webkit-scrollbar {
    width: 0.5em;
}
  
::-webkit-scrollbar-track {
    background: $backgroundDarkest; 
 }
   
::-webkit-scrollbar-thumb {
    background: $yellowColor; 
    box-shadow: none;
}
  
