.quests{
    background-color: rgb(88, 88, 208);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.questList{
    width: 15em;
    background-color: rosybrown;
    list-style: none;
}



.questListElement{
    cursor: pointer;
    margin: 0;
}

.questNav{
    height: 21em;
    overflow: hidden;
    overflow-y:scroll;   
}

.questListElementSelected{
    cursor: pointer;
    background-color: orangered;
    margin: 0;
    margin-right: 0.3em;
}

.questListElementText{
    margin: 0.3em;
    padding-left: 1.5em;
    background-color: rgba(139, 69, 19, 0.267);
}


.questDescription{
    background-color: rgba(139, 69, 19, 0.267);
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    padding-left: 2em;
    margin: 0;
}

.questTitle{
    margin-bottom: 0.5em;
}


.questLabel{
    background-color: red;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    padding-left: 0.5em;
}

.questLogLabel{
    background-color: red;
    display: flex;
    border: solid black 1px;
    padding: 0em 0.5em;
    justify-content: space-between;
}

.questLogDiv{
    padding-left: 0.5em;
}

.questLog{
    background-color: rgb(52, 232, 193);
    height: 80%;
}

.logDiv{
    height: 100%;
    display: inline-block;
}

.littleTextStat{
    font-size: 0.6em;
}

.whiteStat{
    color: white;
}

.questStats{
    margin-top: 3.88em;
    background-color: gray;
    display: flex;
    position: absolute;
    bottom: 7.25em;
    width: 41.85%;
    justify-content: space-around;
}

.objectiveTracker{
    background-color: rgb(57, 194, 57);
}



// Scrollbar

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
 }
   
::-webkit-scrollbar-thumb {
    background: rgb(162, 56, 56); 
}
  
