.skillsMain{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 1.2em;
    font-weight: normal !important;
    margin-bottom: 2.7em;
}

h1{
    font-weight: normal;
}
h3{
    font-weight: normal;
}
p{
    font-weight: normal;
}

.selectedSkillDivision{
    .progressBarFill{
        background-color: $yellowColor;
    }
}

.skillCard{
    height: 20em;
    display: block;
    width: 15.5em;
    align-items: center;
    &:hover{
        cursor: pointer;
        .skillDivision{
            background-color: $backgroundDarkHover;
        }
    }
}

.skillTitleDivision{
    display: block !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    h1{
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        margin-left: 0.6em;
    }
    h3{
        margin-top: 0 !important;
        margin-left: 1.1em;
        margin-bottom: 0.2em !important;
    }
}

.progressBar{
    width: 100%;
    margin: 0.4em 0em;
    border: solid 1px white;
}

.progressBarDiv{
    padding: 0em 0.5em;
    margin: 0;
    width: 100%;
}

.progressBarFill{
    height: 0.7em;
    background-color: $lightLetter;
    border: solid 2px $backgroundDark;
    border-right: none;
}

.skillDivision{
    display: flex;
    color: $lightLetter;
    justify-content: space-between;
    background-color: $backgroundDark;
    width: 100%;
    padding: 0;
    margin-top: 0.2em;
}

.skillPointsDivision{
    width: 100%;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}

.skillText{
    margin: 0;
    padding: 0em 0.5em;
}

.selectedSkillCard{
    h1{
        color: $yellowColor;
    }
    h3{
        color: $yellowColor;
    }
    .skillDivision{
        background-color: $backgroundLittleDarker;
    }
}

/// IMAGE DIV --------------------------------------------------------------

.skillImageDiv{
    text-align: center;
    width: 7em;
    height: 7em;
    padding: 0.7em;
    background:
    linear-gradient(to right, $yellowColor 1px, transparent 1px) 0 0,
    linear-gradient(to right, $yellowColor 1px, transparent 1px) 0 100%,
    linear-gradient(to left, $yellowColor 1px, transparent 1px) 100% 0,
    linear-gradient(to left, $yellowColor 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, $yellowColor 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, $yellowColor 1px, transparent 1px) 100% 0,
    linear-gradient(to top, $yellowColor 1px, transparent 1px) 0 100%,
    linear-gradient(to top, $yellowColor 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.skillImageDivUnselected{
    text-align: center;
    width: 7em;
    height: 7em;
    padding: 0.7em;
    background:
    linear-gradient(to right, transparent 1px, transparent 1px) 0 0,
    linear-gradient(to right, transparent 1px, transparent 1px) 0 100%,
    linear-gradient(to left, transparent 1px, transparent 1px) 100% 0,
    linear-gradient(to left, transparent 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, transparent 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, transparent 1px, transparent 1px) 100% 0,
    linear-gradient(to top, transparent 1px, transparent 1px) 0 100%,
    linear-gradient(to top, transparent 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.skillImageDiv2{
    text-align: center;
    padding: 1.12px;
    background:
    linear-gradient(to right, $yellowColor 3px, transparent 3px) 0 0,
    linear-gradient(to right, $yellowColor 3px, transparent 3px) 0 100%,
    linear-gradient(to left, $yellowColor 3px, transparent 3px) 100% 0,
    linear-gradient(to left, $yellowColor 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, $yellowColor 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, $yellowColor 3px, transparent 3px) 100% 0,
    linear-gradient(to top, $yellowColor 3px, transparent 3px) 0 100%,
    linear-gradient(to top, $yellowColor 3px, transparent 3px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}


.skillImageDiv2Unselected{
    text-align: center;
    padding: 1.12px;
    background:
    linear-gradient(to right, transparent 3px, transparent 3px) 0 0,
    linear-gradient(to right, transparent 3px, transparent 3px) 0 100%,
    linear-gradient(to left, transparent 3px, transparent 3px) 100% 0,
    linear-gradient(to left, transparent 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, transparent 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, transparent 3px, transparent 3px) 100% 0,
    linear-gradient(to top, transparent 3px, transparent 3px) 0 100%,
    linear-gradient(to top, transparent 3px, transparent 3px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}



.skillImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;

}

.skillImage{
    width: 5em;
    height: 5em;
    padding: 1em;
    margin: 0;
}

