
.skillsMain{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 1.2em;
    font-weight: normal !important;
}

h1{
    font-weight: normal;
}
h3{
    font-weight: normal;
}
p{
    font-weight: normal;
}

.selectedSkillDivision{
    .progressBarFill{
        background-color: $yellowColor;
    }
}

.skillCard{
    height: 19.5em;
    display: block;
    width: 32%;
    align-items: center;
    &:hover{
        cursor: pointer;
        .skillDivision{
            background-color: $backgroundDarkHover;
        }
    }
}

.skillTitleDivision{
    display: flex;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    h1{
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        margin-left: 0.6em;
    }
    h3{
        margin-top: 0 !important;
        margin-left: 1.1em;
        margin-bottom: 0.2em !important;
    }
}

.progressBar{
    width: 100%;
    margin-bottom: 0.4em;
    border: solid 1px white;
}

.progressBarDiv{
    padding: 0em 0.5em;
    margin: 0;
    width: 100%;
}

.progressBarFill{
    height: 0.7em;
    background-color: $lightLetter;
    border: solid 2px $backgroundDark;
    border-right: none;
    box-shadow: 0px 0px 10px 0px $yellowColorShine;
}

.skillDivision{
    display: flex;
    color: $lightLetter;
    justify-content: space-between;
    background-color: $backgroundDark;
    width: 100%;
    padding: 0;
    margin-top: 0.2em;
}

.skillDivision2{
    display: flex;
    color: $lightLetter;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.skillPointsDivision{
    width: 100%;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}

.skillText{
    margin: 0;
    padding: 0em 0.5em;
}

.selectedSkillCard{
    h1{
        color: $yellowColor;
        text-shadow: 0px 0px 10px $yellowColorShine;
    }
    h3{
        color: $yellowColor;
    }
    p{
        color: white;
    }
    .skillDivision{
        background-color: $backgroundLittleDarker;
        box-shadow: 0px 0px 10px 0px $yellowColorShine;
        .levelDiv{
            h3{
                border-color: $yellowColor;
                box-shadow: 0px 0px 10px 0px $yellowColorShine;
            }
        }
        .skillPointsP{
            color: $yellowColor;
            text-shadow: 0px 0px 10px $yellowColorShine;
        }
    }
    &:hover{
        .skillDivision{
            background-color: $backgroundLittleDarker;
        }
    }
}

.levelNumberH3{
    border: solid 1px $lightLetter;
    border-radius: 0.3em;
    padding: 0.6em 0.9em;
    margin-top: 1em;
}

.levelDiv{
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.nextLevelDiv{
    padding-top: 0.2em;
    display: block;
}

/// IMAGE DIV --------------------------------------------------------------

.skillImageDiv{
    text-align: center;
    width: 7em;
    height: 7em;
    padding: 0.7em;
    background:
    linear-gradient(to right, $yellowColor 1px, transparent 1px) 0 0,
    linear-gradient(to right, $yellowColor 1px, transparent 1px) 0 100%,
    linear-gradient(to left, $yellowColor 1px, transparent 1px) 100% 0,
    linear-gradient(to left, $yellowColor 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, $yellowColor 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, $yellowColor 1px, transparent 1px) 100% 0,
    linear-gradient(to top, $yellowColor 1px, transparent 1px) 0 100%,
    linear-gradient(to top, $yellowColor 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.skillImageDivUnselected{
    text-align: center;
    width: 7em;
    height: 7em;
    padding: 0.7em;
    background:
    linear-gradient(to right, transparent 1px, transparent 1px) 0 0,
    linear-gradient(to right, transparent 1px, transparent 1px) 0 100%,
    linear-gradient(to left, transparent 1px, transparent 1px) 100% 0,
    linear-gradient(to left, transparent 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, transparent 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, transparent 1px, transparent 1px) 100% 0,
    linear-gradient(to top, transparent 1px, transparent 1px) 0 100%,
    linear-gradient(to top, transparent 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.skillImageDiv2{
    text-align: center;
    padding: 1.12px;
    background:
    linear-gradient(to right, $yellowColor 3px, transparent 3px) 0 0,
    linear-gradient(to right, $yellowColor 3px, transparent 3px) 0 100%,
    linear-gradient(to left, $yellowColor 3px, transparent 3px) 100% 0,
    linear-gradient(to left, $yellowColor 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, $yellowColor 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, $yellowColor 3px, transparent 3px) 100% 0,
    linear-gradient(to top, $yellowColor 3px, transparent 3px) 0 100%,
    linear-gradient(to top, $yellowColor 3px, transparent 3px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}


.skillImageDiv2Unselected{
    text-align: center;
    padding: 1.12px;
    background:
    linear-gradient(to right, transparent 3px, transparent 3px) 0 0,
    linear-gradient(to right, transparent 3px, transparent 3px) 0 100%,
    linear-gradient(to left, transparent 3px, transparent 3px) 100% 0,
    linear-gradient(to left, transparent 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, transparent 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, transparent 3px, transparent 3px) 100% 0,
    linear-gradient(to top, transparent 3px, transparent 3px) 0 100%,
    linear-gradient(to top, transparent 3px, transparent 3px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}



.skillImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;

}

.skillImage{
    width: 5em;
    height: 5em;
    padding: 1em;
    margin: 0;
    filter: invert(50%);
}

.selected{
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(10deg);
}